/* app-content-card{
    border: 1px solid #000;
} */

.fail {
    color: red;
}

.success {
    color: green;
}

.VolvoMotors {
  background-color: aqua;
}

.FordMotors {
  background-color: aquamarine;
}

.GeneralMotors {
  background-color: antiquewhite;
}

.Chrysler300 {
  background-color: blanchedalmond;
}
