/* app-content-card{
    border: 1px solid #000;
} */

.fail {
    color: red;
}

.success {
    color: green;
}

.SUV {
    background-color: maroon;
}

.Truck {
    background-color: mediumaquamarine;
}

.Middle {
    background-color: yellow;
}

.Large {
    background-color: plum;
}

.specificCar {
    box-shadow: 5px 10px;
    background-color: green;
}