/* app-content-card{
    border: 1px solid #000;
} */

.fail {
    color: red;
}

.success {
    color: green;
}

.VolvoMotors {
    background-color: mediumpurple;
}

.FordMotors {
    background-color: aquamarine;
}

.GeneralMotors {
    background-color: coral;
}

.Chrysler300 {
    background-color: blanchedalmond;
}