<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
    <!--  <div [class.success]="searchFlag" [class.fail]="!searchFlag"> {{ searchMessage }} </div>-->
</div>

<app-content-card *ngFor="let item of (myList | titleFilter); first as isFirstCarOnList" [class.first-car]="isFirstCarOnList" [car]="item" class="notype" [class.found]="item.title == search.value"></app-content-card>

<app-content-card *ngFor="let item of (myList | titleFilter: 'SUV'); first as isFirstCarOnList" [class.first-car]="isFirstCarOnList" [car]="item" class="Volvo Motors" [class.found]="item.title == search.value"></app-content-card>

<app-content-card *ngFor="let item of (myList | titleFilter: 'Middle'); first as isFirstCarOnList" [class.first-car]="isFirstCarOnList" [car]="item" class="General Motors" [class.found]="item.title == search.value"></app-content-card>

<app-content-card *ngFor="let item of (myList | titleFilter: 'Truck'); first as isFirstCarOnList" [class.first-car]="isFirstCarOnList" [car]="item" class="Ford motors" [class.found]="item.title == search.value"></app-content-card>
<app-content-card
  *ngFor="let item of myList | titleFilter: 'large'; first as isFirstCarOnList"
  [class.first-car]="isFirstCarOnList"
  [car]="item"
  class="Chrysler 300"
  [class.found]="item.title == search.value"
></app-content-card>
