<div class="search">
    <input #search>
    <button (click)="checkForTitle(search.value)">Check For Title</button>
    <h4 class="success" *ngIf="searchFlag">Title found</h4>
    <h4 class="fail" *ngIf="!searchFlag">Title not found</h4>
    <!--  <div [class.success]="searchFlag" [class.fail]="!searchFlag"> {{ searchMessage }} </div>-->
</div>

<app-content-card appHoverAffect elementType="card" *ngFor="let item of ( listOfCars| titleFilter); first as isFirstMovieOnList; last as isLast" [car]="item" class="notype" [class.found]="item.title == search.value">
</app-content-card>

<app-content-card appHoverAffect elementType="card" *ngFor="let item of (listOfCars | titleFilter: 'suv') first as isFirstMovieOnList; last as isLast" [car]="item" class="SUV" [class.found]="item.title == search.value">
</app-content-card>

<app-content-card appHoverAffect elementType="card" *ngFor="let item of (listOfCars | titleFilter: 'truck'); first as isFirstMovieOnList; last as isLast" [car]="item" class="Truck" [class.found]="item.title == search.value">
</app-content-card>

<app-content-card appHoverAffect elementType="card" *ngFor="let item of (listOfCars | titleFilter: 'middle') first as isFirstMovieOnList; last as isLast" [car]="item" class="Middle" [class.found]="item.title == search.value">
</app-content-card>

<app-content-card appHoverAffect elementType="card" *ngFor="let item of (listOfCars | titleFilter: 'large'); first as isFirstMovieOnList; last as isLast" [car]="item" class="Large" [class.found]="item.title == search.value">
</app-content-card>